# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*
# ------------------------------------------------------------------------------

# App config -------------------------------------------------------------------
/settings.php
# ------------------------------------------------------------------------------